{{!-- page 3 similar to index --}}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h2>welcome to page 3</h2>

        <a href="/">Home</a>
        <a href="/page1">Page 1</a>
        <a href="/page2">Page 2</a>
    </body>
</html>